.questions {
  color: #191917;
  font-size: 1rem;
}

.collapsible {
  background-color: #E8DACC;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}

.mb-1 { margin: 0 0 .5rem 0!important; }
.mb-0 { margin: 0 0 0 0!important; }

.active, .collapsible:hover {
  background-color: #E0CDBA;
}

.answer {
  margin-bottom: .5rem!important;
}

.content {
  padding: 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #efe6dc;
  transition: max-height 0.2s ease-out;
}

.content.show {
  overflow: visible; 
}

#couple {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}