*{ margin: 0; padding: 0; box-sizing: border-box; }

#carousel-container {
  padding: 0 0 1rem 0;
}

#carousel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.item {
  flex: none;
  width: 50vw;
  height: 100%;
  scroll-snap-align: left;
  pointer-events: none;
  height: 50vh;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait {
  height: 50vh; 
  width: auto;
}

#controls {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1250px)  {
  .item {
    width: 100vw;
    height: auto;
    padding: 0 0 0 0;
    scroll-snap-type: center;
  }
}
