:root {
  background-color: #EEEBDD;
}

html, body {
  font-family: "Source Code Pro", monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:link {
  color: #F37D27;
}

a:visited, a:hover, a:active {
  color: #c95705;
}